In [ ]:
import pandas as pd
from pathlib import Path
from pandas_profiling import ProfileReport
source = Path('../../01_Delivery/2020_01_11_dump/data/dump/02_data/data1/movie_titles.csv')

In [ ]:
dat = {'id':[], 'year':[], 'title':[]}
with open(source, 'rt', encoding = "ISO-8859-1") as fil:
    for line in fil.readlines():
        lin = line.split(',',2)
        dat['id'].append(lin[0])
        dat['year'].append(lin[1])
        dat['title'].append(lin[2][:-1])

df = pd.DataFrame(dat).convert_dtypes()

          id  year                                              title
0          1  2003                                    Dinosaur Planet
1          2  2004                         Isle of Man TT 2004 Review
2          3  1997                                          Character
3          4  1994                       Paula Abdul's Get Up & Dance
4          5  2004                           The Rise and Fall of ECW
...      ...   ...                                                ...
17765  17766  2002  Where the Wild Things Are and Other Maurice Se...
17766  17767  2004                  Fidel Castro: American Experience
17767  17768  2000                                              Epoch
17768  17769  2003                                        The Company
17769  17770  2003                                       Alien Hunter

[17770 rows x 3 columns]

In [ ]:
ProfileReport(df).to_file('2020_02_03_netflix_titles.html')

Summarize dataset: 100%|██████████| 17/17 [00:00<00:00, 21.42it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.09s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  5.59it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 518.46it/s]

In [ ]:
df.to_parquet('2020_02_03_netflix_titles.parquet')